<div class='main'>
    <div class='main_logo'>
        <img src='../../../content/images/logoTagon.png' alt=''>
    </div>
    <div class='main__logo'>
        <img src='../../../content/images/active.svg' alt=''>
    </div>
    <div jhiTranslate='activate.title' class='text'>Tuyệt vời</div>
    <div jhiTranslate='activate.congratulations' class='main-text'>Chúc mừng bạn đã đăng ký thành công. Vui lòng đăng nhập để tham gia vào dự án của chúng tôi!</div>
    <button jhiTranslate='activate.login' (click)='login()'>Đăng nhập</button>
</div>
