$primary-color: #45aea7;
$textColor: #2d3748;
$bgcolor: #e5e5e5;
$ndTextColor: #718096;
$slave-color: white;
$color-main: #45aea7;
$color-btn-cancel: #c4c4c4;
$breakpoint425: 425px;
$breakpoint600: 600px;
$breakpoint768: 768px;
$breakpoint992: 992px;
$breakpoint1024: 1024px;
$breakpoint1440px: 1440px;
$text-color: #021b1e;

$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;

$mainColor: #45aea7;
$textColor: #2d3748;
$bgColor: #f1f5f8;
$selectColor: #66ccc5;
$nd2TextColor: #718096;
$borderColor: #e2e8f0;
$deleteColor: #d32929;
